
html,body {height: 100%;width: 100%;  overflow: hidden; }

#frmInput {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#sidebar {
    width: 110px;
    height: 100%;
    float: left;
    font-size:10pt;
    border-right: 1px solid red;
    background-color:#0f0f0f;
}

#text {
    width: calc(100% - 111px);
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    resize:none;
    background-color: #000000;
    color: #00FF00;
}



#border {
    border-top:0;
    border-left: 0;
    border-bottom: 1px dashed #ccc;
    border-color:#777;
}

div.toolbox{
    /* display: inline-block; */
    opacity: 0.7;
    border-radius: 5px;
    border: 2px solid red;
}

div.tool{
    float: left;
}
div.toolopen img{
    display:block;
    margin:auto;
}

div.fixed{
    position: fixed;
    left: 110px;
    /* top: 0px; */
    bottom: 0;
}


li.header{border-bottom:1px solid green;}

input[type=radio]{	opacity: 0.0; position:absolute; left:-9999px; top:-9999px;}
/*textarea{ resize: none; width:100%;} box-sizing:border-box; width:100%; height:100%; border: none; }*/
label{ text-align:left;
       display:block;
       margin-top:2px;
       padding-left:3px;
       border-left: 3px solid black;
       color: #3F3F3F;
}
input[type=radio]:hover + label {
    font-weight:bold;
    color: #FFFFFF;
    background-color: #3F3F3F;
    border-left: 3px solid green;
    border-right: 0px solid red;
}

input[type=radio]:checked + label {
    font-weight:bold;
    color: #FF0000;
    background-color:#0F0F0F;
    border-left: 3px solid green;
    border-right: 0px solid red;

}

.lite-menu{
    display:none;
}
